* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: Avenir Next;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  color: #fff;
  height: 100px;
}

.header_logo {
  float: left;
  padding-left: 40px;
}

.header_logo img {
  float: left;
  max-width: 10%;
  max-height: 10%;
  display: block;
  padding: 10px 10px 10px 10px;
}

.header_list {
  font-size: 36px;
  display: flex;
  float: left;
}

.header_list a {
  color: #fff;
}

a.btn {
  text-decoration: none;
  color:rgb(255, 255, 255);
}

a.btn:hover {
  color: aquamarine;
}

.Home {
  padding-right: 50px;
  background-color: #000000;
  margin-right: 10px;
}

.main {
  padding: 20px 20px 20px 20px;
  background-color: #ffffff;
  height: auto;
}

.main h1 {
  font-size: 30px;
  padding: 20px 20px 20px 20px;
}

.section-title {
  border-bottom: 3px solid #dee7ec;
}

.main_contents {
  padding: 20px 20px 50px 20px;
}

.main_contents p {
  font-size: 22px;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px 40px 40px 40px;
}

.footer p {
  font-size: 18px;
}