* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: Avenir Next;
}

li {
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  color: #fff;
  height: 90px;
}

.header_logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px 20px;
}

.header_logo img {
  max-width: 30%;
  height: auto;
  display: block;
  padding: 10px;
}

.header_list {
  display: flex;
  float: left;
}

.header_list li {
  float: left;
  padding: 33px 20px;
}

.header_list a {
  color: #fff;
  font-size: 30px;
}

.btn {
  padding: 1px;
  color:white;
  display: inline-block;
  opacity: 0.8;
  border-radius:4px;
}

.brn:hover{
  opacity: 2;
  background-color: #dee7ec;
}

.Home {
  background-color: #000000;
  margin-right: 10px;
}

.main {
  background-color: #ffffff;
  height: auto;
}

.main h1 {
  font-size: 30px;
  padding: 20px 20px 20px 20px;
}

.section-title {
  border-bottom: 3px solid #dee7ec;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px 40px 40px 40px;
}