<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>flask sample app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="header">
            <div class="header_logo"><img src="static/flask_icon.png"></div>
            <div class="header_list">
                <a href="{{ url_for('index') }}" class="btn Home">Home</a>
            </div>
        </div>
        <div class="main">
            <div class="main_title">
              <h1 class="section-title">Data input</h1>
            </div>
            <div class="main_contents">
                <form method="post" action="{{ url_for('regist') }}">
                    <table border="1">
                        <tr>
                            <th>タイトル</th>
                            <th>ナンバー</th>
                            <th>登録日</th>
                        </tr>
                        <tr>
                            <td><input type="text" name="title"></td>
                            <td><input type="text" name="number"></td>
                            <td><input type="datetime" name="create_day"></td>
                        </tr>
                    </table>
                    <br>
                    <input type="submit" value="登録">
                </form>
            </div>
        </div>

        <div class="footer">
            <a href="{{ url_for('index') }}"><button>戻る</button></a>
        </div>
    </body>
</html>