<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>flask sample app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="header">
            <div class="header_logo">
                <img src="{{ url_for('static', filename='python_icon.png') }}">
                <img src="{{ url_for('static', filename='flask_icon.png') }}">
                <img src="{{ url_for('static', filename='mysql_icon.png') }}">
            </div>
            <div class="header_list">
                <a href="{{ url_for('index') }}" class="btn Home">Home</a>
            </div>
        </div>

        <div class="main">
            <div class="main_title">
              <h1 class="section-title">Delete Data</h1>
            </div>
            <div class="main_contents">
                <p>Deletion Target</p>
                <br>
                <table border="1">
                    <tr>
                        <th>タイトル</th>
                        <th>イメージ</th>
                        <th>登録日</th>
                        <th>更新日</th>
                    </tr>
                    <tr>
                        <td>{{ sample.filename }}</td>
                        <td>
                            <img src="{{ sample.image_data }}" alt="{{ sample.filename }}" width="200">
                        </td>
                        <td>{{ sample.create_day }}</td>
                        <td>{{ sample.update_day }}</td>
                    </tr>
                </table>
                <br>
                <form action="{{ url_for('delete_form', sample_id=sample.id) }}" method="post">
                    <button type="submit" name="form" value="true">Delete</button>
                    <button type="submit" name="cancel" value="true">Cancel</button>
                </form>
            </div>
        </div>

        <div class="footer">
            <p>Python+Flask+Mysqlを使ったCRUDアプリケーションです</p>
        </div>
    </body>
</html>