<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>flask sample app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>サンプルトップ</h1>
        <form method="post" action="{{ url_for('regist') }}">
            <table border="1">
                <tr>
                    <th>タイトル</th>
                    <th>ナンバー</th>
                    <th>登録日</th>
                </tr>
                <tr>
                    <td><input type="text" name="title"></td>
                    <td><input type="text" name="number"></td>
                    <td><input type="text" name="create_day"></td>
                </tr>
            </table>
            <br>
            <input type="submit" value="登録">
        </form>
    </body>
</html>