<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>flask sample app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>サンプルトップ</h1>
        <h2>一覧</h2>
            {% if samples == [] %}
                <p>まだ情報がありません</p>
            {% else %}
                <table border="1">
                    <tr>
                        <th>タイトル</th>
                        <th>ナンバー</th>
                        <th>登録日</th>
                    </tr>
                    {% for sample in samples %}
                        <tr>
                            <td>{{ sample.title }}</td>
                            <td>{{ sample.number }}番</td>
                            <td>{{ sample.create_day }}</td>
                            <td><a href=""><button>Read</button></a></td>
                            <td><a href=""><button>Update</button></a></td>
                            <form action="{{ url_for('delete_sample', sample_id=sample.id ) }}" method="post" style="display: inline;">
                                <td><button type="submit">Delete</button></td>
                            </form>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        <a href="{{ url_for('create_html') }}"><button>追加</button></a>
        <a href="{{ url_for('for_test') }}"><button>test</button></a>
    </body>
</html>