<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>flask sample app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Read Data</h1>
        <ul>
            <li>タイトル： {{ sample.title }}</li>
            <li>ナンバー： {{ sample.number }}</li>
            <li>登録日： {{ sample.create_day }}</li>
        </ul>
    </body>
    <body>
        <a href = "{{ url_for('index') }}">Home</a>
    </body>
</html>