<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>flask sample app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="header">
            <div class="header_logo"><img src="{{ url_for('static', filename='flask_icon.png') }}"></div>
            <div class="header_list">
                <a href="{{ url_for('index') }}" class="btn Home">Home</a>
            </div>
        </div>

        <div class="main">
            <div class="main_title">
              <h1 class="section-title">Read Data</h1>
            </div>
            <div class="main_contents">
                <table border="1">
                    <tr>
                        <th>タイトル</th>
                        <th>ナンバー</th>
                        <th>登録日</th>
                    </tr>
                    <tr>
                        <th>{{ sample.title }}</th>
                        <th>{{ sample.number }}</th>
                        <th>{{ sample.create_day }}</th>
                    </tr>
                </table>
                <a href="{{ url_for('index') }}"><button type="button">Home</button></a>
            </div>
        </div>

        <div class="footer">
            <p>Python+Flask+Mysqlを使ったCRUDアプリケーションです</p>
        </div>
    </body>
</html>