<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>flask sample app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Read Data</h1>
        <table border="1">
            <tr>
                <th>タイトル</th>
                <th>ナンバー</th>
                <th>登録日</th>
            </tr>
            <tr>
                <th>{{ sample.title }}</th>
                <th>{{ sample.number }}</th>
                <th>{{ sample.create_day }}</th>
            </tr>
        </table>
    </body>
    <body>
        <a href = "{{ url_for('index') }}">Home</a>
    </body>
</html>