<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>flask sample app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="header">
            <div class="header_logo">
                <img src="{{ url_for('static', filename='python_icon.png') }}">
                <img src="{{ url_for('static', filename='flask_icon.png') }}">
                <img src="{{ url_for('static', filename='mysql_icon.png') }}">
            </div>
            <div class="header_list">
                <a href="{{ url_for('index') }}" class="btn Home">Home</a>
            </div>
        </div>

        <div class="main">
            <div class="main_title">
              <h1 class="section-title">Update Data</h1>
            </div>
            <div class="main_contents">
                <p>Rewrite to any data</p>
                <br>
                <form method="post" action="{{ url_for('update_execute', sample_id=sample.id) }}" enctype="multipart/form-data">
                    <table border="1">
                        <tr>
                            <th>タイトル</th>
                            <th>タイトル（変更後）</th>
                            <th>イメージ</th>
                            <th>更新後イメージ</th>
                            <th>登録日</th>
                        </tr>
                        <tr>
                            <td>{{ sample.filename }}</td>
                            <td><input type="text" name="filename" value="{{ sample.filename }}"></td>
                            <td>
                                <img src="{{ sample.image_data }}" alt="{{ sample.filename }}" width="200">
                            </td>
                            <td><input type="file" name="image_data" accept="{{ accept_file_types }}"></td>
                            <td>{{ sample.create_day }}</td>
                        </tr>
                    </table>
                    <br>
                    <input type="submit" value="Update">
                    <a href="{{ url_for('index') }}"><button type="button">Cancel</button></a>
                </form>
            </div>
        </div>

        <div class="footer">
            <p>Python+Flask+Mysqlを使ったCRUDアプリケーションです</p>
        </div>
    </body>
</html>