<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>flask sample app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Do you really want to update it?</h1>
        <form method="post" action="{{ url_for('update_execute', sample_id=sample.id) }}">
            <table border="1">
                <tr>
                    <th>タイトル</th>
                    <th>ナンバー</th>
                    <th>登録日</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="title" value="{{ sample.title }}">
                    </td>
                    <td>
                        <input type="number" name="number" value="{{ sample.number }}">
                    </td>
                    <td>
                        <input type="datetime" name="create_day" value="{{ sample.create_day }}">
                    </td>
                </tr>
            </table>
            <br>
            <input type="submit" value="Update">
        </form>
        <a href="{{ url_for('index') }}"><button type="button">Cancel</button></a>
    </body>
</html>